<section class="w-1/2 mx-auto  bg-gray-50 p-4  rounded  border-1 shadow">
    <h1 class="text-3xl font-medium text-center">login now</h1>

    <form [formGroup]="login" (ngSubmit)="submitForm()">
    
        <div class="mb-1">
            <label for="email" class="block mb-2 text-sm font-medium text-gray-900 ">email</label>
            <input
            formControlName ="email" type="email" id="email" class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 :">
           @if(login.get('email')?.errors && login.get('email')?.touched){
            <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50" role="alert">
                <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                  <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
                </svg>
                <span class="sr-only">Danger</span>
                <div>
            
                    <ul class="mt-1.5 list-disc list-inside">
                    @if(login.get('email')?.getError('required')){
                        <li>Email is required</li>
                    }
                    @else if (login.get('email')?.getError('email')) {
                        <li>Enter vaild email</li>
                    }
                    

          
                  </ul>
                </div>
              </div>

           }
       
        </div>
        <div class="mb-1">
            <label for="password" class="block mb-2 text-sm font-medium text-gray-900 ">password</label>
            <input
            formControlName ="password" type="password" id="password" class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 :">
            @if(login.get('password')?.errors && login.get('password')?.touched){
                <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50" role="alert">
                    <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                      <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
                    </svg>
                    <span class="sr-only">Danger</span>
                    <div>
                
                        <ul class="mt-1.5 list-disc list-inside">
                        @if(login.get('password')?.getError('required')){
                            <li>password is required</li>
                        }
                        @else if (login.get('password')?.getError('pattern')) {
                            <li>Enter vaild password</li>
                        }
                        
    
              
                      </ul>
                    </div>
                  </div>
    
               }
        </div>
    
          
       
        <button [disabled]="login.invalid" type="submit" class="btn-main">Sign in
          @if(isLoading){
            <span><i class="fas fa-spin fa-spinner"></i></span>
          }
        </button>
       @if(msgError){
        <p class="bg-red-500 text-white px-2 py-6 border">{{msgError}}</p>
       }
       @if(isSuccess){
        <p class="bg-green-600 text-white px-2 py-6 border">{{isSuccess}}</p>
       }
    </form>
</section>